@import 'src/app/theme.scss';

.service {
    transition: transform 200ms;
    background-color: $color2;

    &:hover {
        transform: scale(1.2);
    }

    &__title {
        font-size: $font-size-2;
    }

    &__body {
        
    }
}