
<div class="section2">
    <div class="fixed-spacer"></div>

    <div class="card-container">
      <div class="card-row">
        <a class="card" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCk5elNWC4Dt5j9Y4ZAwG6fw?view_as=subscriber">
          <div class="card-overlay">
            <div class="card-bottom-header">
                YOUTUBE
            </div>
          </div>
        </a>
        <a class="card" target="_blank" rel="noopener" href="https://steamcommunity.com/profiles/76561198036863778">
          <div class="card-overlay">
            <div class="card-bottom-header">
                STEAM
            </div>
          </div>
        </a>
        <a class="card" target="_blank" rel="noopener" href="https://www.twitch.tv/s3nt1n3lz13">
          <div class="card-overlay">
            <div class="card-bottom-header">
                TWITCH
            </div>
          </div>
        </a>
      </div>
      <div class="card-row">
        <a class="card" target="_blank" rel="noopener" href="https://www.tvtime.com/en/user/49979554/profile">
          <div class="card-overlay">
            <div class="card-bottom-header">
                TV TIME
            </div>
          </div>
        </a>
        <a class="card" target="_blank" rel="noopener" href="http://live.xbox.com/Profile?Gamertag=s3nt1n3lz13">
          <div class="card-overlay">
            <div class="card-bottom-header">
                XBOX
            </div>
          </div>
        </a>
        <!-- <a class="card card-6" target="_blank" rel="noopener" href="https://javascript.plainenglish.io/9-html-template-unit-tests-to-write-for-angular-apps-f1970b2cda4e">
          <div class="card-overlay">
            <div class="card-bottom-header">
              ARTICLES
            </div>
          </div>
        </a> -->
      </div>
    </div>
  </div>