@import '../../theme.scss';

:host {
    font-family: $font-family-1;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .spacer2 {
    flex: 2;
  }

  .fixed-spacer {
    height: 100px; // Use a default height of 100px if not using flex
  }

  .toolbar {
    font-family: $font-family-2;
    position: fixed;
    border-bottom: 3px solid $tertiary;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $primary;
    background: rgba($primary, 0.4);
    color: $secondary;
    font-weight: 600;
    font-size: $font-size-1-5;
    z-index: 100;

    transition: all 0.5s;

    .toolbar-row {
        flex: 1;
        justify-content: center;
        width: 100%;
        display: flex;

        .item-container{
            justify-content: center;
            align-items: center;
        }

        .toolbar-row-item {
          display: flex;
          flex: 1;
          align-self: center;
          justify-content: center;
          align-items: center;
        }

        .toolbar-row-item-dropdown {
          position: relative;
          align-self: center;
        }

        .toolbar-row-link {
            flex: 1;
            justify-content: center;
            align-items: center;
            display: flex;
            // border: black;
            // border-width: 1px;
            // border-style: solid;
            margin: 15px;
            color: $secondary;

            text-decoration: underline solid $secondary;
            text-underline-offset: 7px;
            text-decoration-thickness: 2px;

            span {
                margin: 6px;
            }
        }

        .toolbar-row-link:hover {
            // background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
            // border-color: rgba(27,31,35,.35);
            // background-position: -.5em;
            color: $tertiary;
            text-decoration: underline solid $tertiary;
            text-decoration-thickness: 2px;
            // border-color: $tertiary;
          }
    }
  }

  .toolbar.scrolled {
    background-color: $primary;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .page {
    flex: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  // .content:before {
  //   filter: blur(8px);
  // }

  .dropdown {
    // border: 1px solid $secondary;
    display: flex;
    padding: 5px;
    width: 200px;
    height: 50px;
    // background: rgba($tertiary, 1);
    justify-content: center;
    align-items: center;

    // .dropdown-text {
    //   height: 
    // }
    .icon {
      margin: 0px;
      margin-left: 5px;
      width: 30px;
    }

    .icon-rotated {
      transform: rotate(180deg);
    }
  }

  .dropdown:hover {
    cursor: pointer;
    // background: rgba($tertiary, 0.8);
    color: $tertiary;
    
    .icon {
      fill: $tertiary;
    }
    // border: 1px solid $tertiary;
  }

  .dropdown:hover + .download-options {
    display: flex;
  }

  .download-options:hover {
    display: flex;
  }

  .download-options {
    display: none;
    // margin-top: 10px;
    position: absolute;
    // left: -50%;
    // top: 50%;
    // display: flex;
    flex-direction: column;
    background: $primary;
    width: 100%;

    .download-option {
      color: $secondary;
      padding-left: 25px;
      padding-right: 10px;
      padding-bottom: 20px;
    }

    .first {
      padding-top: 20px;
      border-top: 3px solid $tertiary;
    }

    .download-option:hover {
      color: $tertiary;
      cursor: pointer;
    }
  }

  .ng-dropdown-panel {
    height: 100px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    font-size: $font-size-1-5;
    color: $secondary;
  }
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }




 







 