@import '../../theme.scss';

  .fixed-spacer {
    height: 100px; // Use a default height of 100px if not using flex
  }

  .toolbar-links {
    margin: 0px 100px 0px auto;
    display: flex;
  }

  .toolbar {
    font-family: $font-family-2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: $font-size-1;
    z-index: 100;
    padding-top: 30px;

    transition: all 0.5s;
  }

  .toolbar-row {
    width: 100%;
    display: flex;
  }

  .item-container {
      justify-content: center;
      align-items: center;
  }

  .toolbar-row-item {
    display: flex;
    flex: 1;
    min-width: 120px;
    max-width: 120px;
    align-self: right;
    justify-content: center;
    align-items: center;

    border-right: 1px solid white;
  }

  .toolbar-row-item-dropdown {
    position: relative;
    align-self: center;
  }

  .toolbar-row-link {
      flex: 1;
      justify-content: center;
      align-items: center;
      display: flex;
      // border: black;
      // border-width: 1px;
      // border-style: solid;
      padding: 15px;
      margin: 0px 15px;
      color: white;

      // text-decoration: underline solid white;
      // text-underline-offset: 7px;
      // text-decoration-thickness: 2px;

      span {
          margin: 6px;
      }
  }

  .toolbar-row-link:hover {
      // background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
      // border-color: rgba(27,31,35,.35);
      // background-position: -.5em;
      color: $color1;
      // text-decoration: underline solid $tertiary;
      // text-decoration-thickness: 2px;
      background: rgba(255, 255, 255, 1);
      border-radius: 10px;
      // border-color: $tertiary;
  }

  .toolbar.scrolled {
    background-color: $primary;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .page {
    flex: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .dropdown {
    display: flex;
    padding: 5px;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  .icon {
    margin: 0px;
    margin-left: 5px;
    width: 30px;
  }

  .icon-rotated {
    transform: rotate(180deg);
  }

  .dropdown:hover {
    cursor: pointer;
    color: $tertiary;
    
    .icon {
      fill: $tertiary;
    }
  }

  .dropdown:hover + .download-options {
    display: flex;
  }

  .download-options:hover {
    display: flex;
  }

  .download-options {
    display: none;
    position: absolute;
    flex-direction: column;
    background: $primary;
    width: 100%;

    .download-option {
      color: $secondary;
      padding-left: 25px;
      padding-right: 10px;
      padding-bottom: 20px;
    }

    .first {
      padding-top: 20px;
      border-top: 3px solid $tertiary;
    }

    .download-option:hover {
      color: $tertiary;
      cursor: pointer;
    }
  }

  .ng-dropdown-panel {
    height: 100px;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.2em;
    font-size: $font-size-3;
    color: white;
    padding-left: 100px;
  }

  a,
  a:visited,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    // color: #125699;
  }