@import '../theme.scss';

  :host {
    width: 100%;
  }

  .spacer {
    flex: 1;
  }

  .toolbar.scrolled {
    background-color: $primary;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .dropdown {
    // border: 1px solid $secondary;
    display: flex;
    padding: $padding-0-5;
    width: 200px;
    height: 50px;
    // background: rgba($tertiary, 1);
    justify-content: center;
    align-items: center;

    // .dropdown-text {
    //   height: 
    // }
    .icon {
      margin: 0px;
      margin-left: 5px;
      width: 30px;
    }

    .icon-rotated {
      transform: rotate(180deg);
    }
  }

  .dropdown:hover {
    cursor: pointer;
    // background: rgba($tertiary, 0.8);
    color: $tertiary;
    
    .icon {
      fill: $tertiary;
    }
    // border: 1px solid $tertiary;
  }

  .dropdown:hover + .download-options {
    display: flex;
  }

  .download-options:hover {
    display: flex;
  }

  .download-options {
    display: none;
    // margin-top: 10px;
    position: absolute;
    // left: -50%;
    // top: 50%;
    // display: flex;
    flex-direction: column;
    background: $primary;
    width: 100%;

    .download-option {
      color: $secondary;
      padding-left: 25px;
      padding-right: 10px;
      padding-bottom: 20px;
    }

    .first {
      padding-top: 20px;
      border-top: 3px solid $tertiary;
    }

    .download-option:hover {
      color: $tertiary;
      cursor: pointer;
    }
  }

  .ng-dropdown-panel {
    height: 100px;
  }

  .content {
    --x: 0px;
    --y: 0px;
    // background-image: url(large-image.jpg);
    // background-position: var(--x) var(--y);
    transform: translate(var(--x) + ', ' + var(--y));

    font-family: $font-family-1;
    // background-image: url("../../assets/backgrounds/background1.jpg");
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/backgrounds/background3.jpg');
    // filter: blur(8px);

    display: flex;
    flex: 1;
    // background-color: #bbbbbb;
    margin: 0px auto 0px;
    padding-top: 50px; // Header is position:fixed so start the content lower down
    padding-bottom: 0px; // Make the background image appear behind the footer below
    // max-width: 1200px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .highlight-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    width: 100%;
  }



  .card-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    .card-row {
      display: flex;
      width: 90%;
      flex-direction: row;
      justify-content: center;
    }
  }

  .logo-container {
    // background-color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;

    opacity: 1;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .picture {
      // flex: 1;
      background-color: white;
      width: 200px;
    }
    // transform: translate3d(calc(100vh), 0px, 0px);
    // transition: transform 5000ms linear 0s;
  }

  .card {
    border-radius: 4px;
    // border: 1px solid #eee;
    background: rgba($primary, 0.4);
    height: 800px;
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    color: $secondary;

    // .card-top {
    //   flex: 2;
    //   // width: calc(100% - 6px);
    //   width: 100%;

    //   // margin-left: 7px;
    //   // margin-right: 7px;
    //   border-bottom: 3px solid $tertiary;
    //   // border-top: 3px solid $tertiary;
    //   // border-left: 3px solid $tertiary;
    //   // border-right: 3px solid $tertiary;
    // }

    .card-overlay {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: rgba($primary, 0.3);
      width: 100%;
      height: 100%;
      color: $secondary;
      justify-content: center;
      align-items: center;

      .card-bottom-header {
        font-family: $font-family-2;
        font-size: $font-size-1-5;
        font-weight: 800;
        width: 80%;
        border-radius: 1px;
        border-bottom: 1px solid $secondary;
        margin-bottom: 5px; // space between bottom border and body
        padding-bottom: 12px; // spacing between header and border
      }

      .card-bottom-body {
        font-family: $font-family-2;
        font-size: $font-size-1;
        width: 80%;
        margin-bottom: 5px;
      }
    }
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: scale(1.2);
    // transform: translateX(-15px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

    .card-bottom {
      background: rgba($primary, 1);
    }
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  .card-1 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/baldurs-gate.png');
    background-size: 600px 400px;
  }

  .card-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/udemy-course.png');
    background-size: cover;
  }

  .card-3 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/angular-templates-code-coverage.png');
    background-size: cover;
  }

  .card-4 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/repayme-app.png');
    background-size: 350px 600px;
  }

  .card-5 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/baldurs-gate.png');
    background-size: cover;
  }

  .card-6 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../../assets/card-backgrounds/medium-articles.png');
    background-size: cover;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .circle-link {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .highlight {
      flex-direction: row;
      display: flex;
      flex: 1;
    //   width: "100%";
    padding-top: 30px;

      .card {
          flex: 2;
          height: 300px;
          margin: 0px;
      }

      .card:not(.highlight-card) {
        cursor: pointer;
      }
    
      .card:not(.highlight-card):hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
    
      .card:not(.highlight-card):hover .material-icons path {
        fill: rgb(105, 103, 103);
      }

      .terminal-container {
        flex: 3;
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        align-items: center;

        .terminal {
          flex: 1;
          height: 100px;
        }
      }
  }



  .footer {
    font-family: $font-family-2;
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: $primary;
    background: rgba($primary, 1);
    color: $secondary;
    font-weight: 600;
    font-size: $font-size-1;
    z-index: 100;
    border-top: 3px solid $tertiary;

    .footer-top {
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 100%;
    }
  
    .footer-bottom {
      display: flex;
      flex: 1;
      flex-direction: row;
      width: 100%;
    }

    .footer-row-item {
      display: flex;
      flex: 1;
      align-self: center;
      justify-content: center;
      align-items: center;
    }
  }

  .section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background: rgba($secondary, 1);
    padding: $padding-0-5;
  }