@import "../../theme.scss";

.certificate {
    // transform: scale(0.3);
    max-height: 500px;
    width: 100%;
    position: relative;
    // padding: 0px 20px;

    // &__image {
    //     height: 100px;
    //     width: 100px;
    // }
    @extend .shadow;
    @extend .scale-hover;

}

