@import '../../theme.scss';

.work-experience {
    background-color: $color1;
    //0a2472
    // background: linear-gradient(45deg, lighten(#00072D, 10%), #00072D);
    border-radius: 30px;
    $text: white;

    &__header {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
        "date jobTitle"
        "location client"
        "description description";
    }

    &__footer {
        margin: 0px -30px -30px -30px;
        border-radius: 30px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: white;
        color: $color1;
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-areas: 
        "date jobTitle"
        "location client";
    }

    &__grid {
    }

    &__job-title {
        grid-area: jobTitle;
    }

    &__client {
        grid-area: client;
    }

    &__date {
        grid-area: date;
    }

    &__location {
        grid-area: location;
    }

    &__description {
        grid-area: description;
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 40px;
        row-gap: 20px;
        border-top: 1px solid white;
    }

    &__description-item {
        color: $color1;
    }
}