
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import './theme.scss';


  .main {
    min-height: 100vh;
    --x: 0px;
    --y: 0px;
    transform: translate(var(--x) + ', ' + var(--y));

    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    // Old Image
    // background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url('../assets/backgrounds/background3.jpg');
    background-color: $color1;

    display: flex;
    flex: 1;
    margin: 0px auto 0px;
    // padding-top: 50px; // Header is position:fixed so start the content lower down
    padding-bottom: 0px; // Make the background image appear behind the footer below
    flex-direction: column;
    align-items: stretch;
  }

  .header {
    flex-shrink: 0;
    height: 103px;
    width: 100%;
  }

  .content {
    --content-height: calc(100vh - 206px);
    min-height: --content-height;
  }

  .footer {
    min-height: 103px;
    width: 100%;
  }