<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<!-- <div class="page"> -->
  <div (scroll)="onScroll($event)" class="toolbar" role="banner">
    <!-- <div class="toolbar-row">
  
      <div class="item-container">
  
      </div>
    </div> -->
    <div class="toolbar-row">
      <div class="spacer"></div>
      <div class="title">
        <span>NEIL SMITH</span>
      </div>
      <div class="spacer2"></div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://javascript.plainenglish.io/9-html-template-unit-tests-to-write-for-angular-apps-f1970b2cda4e">
          Blogs
        </a>
      </div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://www.linkedin.com/in/neil-smith-576503151/">
          LinkedIn
        </a>
      </div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://github.com/s3nt1n3lz21">
          GitHub
        </a>
      </div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://stackoverflow.com/users/5136154/s3nt1n3lz">
          Stack Overflow
        </a>
      </div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://www.npmjs.com/~s3nt1n3lz24">
          NPM
        </a>
      </div>
      <div class="toolbar-row-item">
        <a class="toolbar-row-link" target="_blank" rel="noopener" href="https://twitter.com/angular">
          Social
        </a>
      </div>
      <div class="spacer2"></div>
      <div class="toolbar-row-item-dropdown">
        <!-- <div class="dropdown" (click)="showDownloadOptions = !showDownloadOptions"> -->
        <div class="dropdown">
          Download CV
          <!-- [ngClass]="{'icon-rotated': showDownloadOptions}" -->
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
        </div>
        <div class="download-options">
          <a href="../assets/files/MyCV.pdf" download class="download-option first">PDF</a>
          <a href="../assets/files/MyCV.docx" download class="download-option">DOC</a>
        </div>
        <!-- <ng-select class="dropdown" ngDefaultControl [items]="downloadCVOptions" [searchable]="false" [clearable]="false"
          [ngModel]="downloadCVOption" (ngModelChange)="downloadCV($event)"
        > -->
          <!-- <ng-template class="dropdown-text" ng-label-tmp let-item="item">
            <b>Download CV</b>
          </ng-template> -->
        <!-- </ng-select> -->
      </div>

      <div class="spacer"></div>

    </div>
  
  </div>

  <div class="content" role="main">

    <div class="section1">
      <div class="profile-container">
    
        <div class="profile">
          <div class="profile-text">
            <div class="profile-header">
              Hi I'm Neil!
            </div>
            <div class="profile-body">
              I’m a web developer based in Winchester UK. I love films, music, cats and playing video games.
            </div>
            <!-- <div class="profile-body">
              I’M A WEB DEVELOPER BASED IN WINCHESTER UK. I LOVE FILMS, MUSIC, CATS AND PLAYING VIDEO GAMES.
            </div> -->
          </div>
        </div>
      </div> 
    </div>
  
    <div class="section2">
      <div class="fixed-spacer"></div>

      <div class="card-container">
        <div class="card-row">
          <a class="card" target="_blank" rel="noopener" href="https://github.com/s3nt1n3lz21/BaldursGateAI">
            <div class="card-top card-1"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                Baldurs Gate AI
              </div>
              <div class="card-bottom-body">
                A mod I created for better party AI in the game Baldur's Gate
              </div>
            </div>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://www.udemy.com/course/unit-testing-angular-9-with-jasmine-html-templates/">
            <div class="card-top card-2"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                Unit Testing Course
              </div>
              <div class="card-bottom-body">
                A course I made on Udemy on how to write unit tests in Jasmine
              </div>
            </div>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://javascript.plainenglish.io/9-html-template-unit-tests-to-write-for-angular-apps-f1970b2cda4e">
            <div class="card-top card-3"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                Template Code Coverage
              </div>
              <div class="card-bottom-body">
                An npm package I created to check for HTML template unit tests
              </div>
            </div>
          </a>
        </div>
        <div class="card-row">
          <a class="card" target="_blank" rel="noopener" href="https://expo.dev/@s3nt1n3lz24/DebtRepaymentCalculator">
            <div class="card-top card-4"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                React Native App
              </div>
              <div class="card-bottom-body">
                An app I created in react native to help you repay your debts
              </div>
            </div>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://javascript.plainenglish.io/9-html-template-unit-tests-to-write-for-angular-apps-f1970b2cda4e">
            <div class="card-top card-5"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                UIPath Stock Financials
              </div>
              <div class="card-bottom-body">
                A UIPath robot I created to extract stock financial data
              </div>
            </div>
          </a>
          <a class="card" target="_blank" rel="noopener" href="https://javascript.plainenglish.io/9-html-template-unit-tests-to-write-for-angular-apps-f1970b2cda4e">
            <div class="card-top card-6"></div>
            <div class="card-bottom">
              <div class="card-bottom-header">
                Unit Testing Course
              </div>
              <div class="card-bottom-body">
                A course I made on Udemy on how to write unit tests in Jasmine
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="section5">
      <div class="section5-left">

      </div>
      <div class="section5-right">

      </div>
    </div> -->

    <div class="section3">
      <div class="fixed-spacer"></div>

      <div class="logo-container">
        <div class="spacer"></div>
        <svg class="picture" fill="#DD0031" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Angular</title><path d="M9.931 12.645h4.138l-2.07-4.908m0-7.737L.68 3.982l1.726 14.771L12 24l9.596-5.242L23.32 3.984 11.999.001zm7.064 18.31h-2.638l-1.422-3.503H8.996l-1.422 3.504h-2.64L12 2.65z"/></svg>
        <div class="spacer"></div>
        <img
          background="transparent"
          class="picture"
          alt="Angular Logo"
          src="../assets/logos/javascript-logo.png"
        />
        <div class="spacer"></div>
        <img
          background="transparent"
          class="picture"
          width="120"
          alt="Angular Logo"
          src="../assets/logos/html5-logo.png"
        />
        <div class="spacer"></div>
        <img
          background="transparent"
          class="picture"
          width="120"
          alt="Angular Logo"
          src="../assets/logos/css3-logo.png"
        />
        <div class="spacer"></div>
        <img
          background="transparent"
          class="picture"
          width="120"
          alt="Angular Logo"
          src="../assets/logos/angular-logo.png"
        />
        <div class="spacer"></div>
        <img
          background="transparent"
          class="picture"
          width="120"
          alt="Angular Logo"
          src="../assets/logos/angular-logo.png"
        />
        <div class="spacer"></div>
      </div>
    </div>



    <!-- <div class="section6">
      <div class="section6-left">

      </div>
      <div class="section6-right">

      </div>
    </div> -->
  
    <!-- Links -->
    <div class="section4">
      <div class="fixed-spacer"></div>

      <div class="profile-container">
        <div class="profile">
          <div class="profile-text">
            <div class="profile-header">
              Get In Touch!
            </div>
            <div class="profile-body">
              Got a project you would like me to work on? Or how about just a friendly chat? Send a quick email and get in touch!
            </div>
          </div>
        </div>
      </div>
  
      <div class="fixed-spacer"></div>
    </div>

    <!-- <div class="section7">
      <div class="section7-left">

      </div>
      <div class="section7-right">

      </div>
    </div> -->
  
    <div class="footer" role="footer">
      <div class="spacer"></div>
      <div class="footer-top">
        <div class="spacer"></div>
        <div class="footer-row-item">
          <span>neilcsmith21@gmail.com</span>
        </div>
        <div class="spacer"></div>
        <div class="footer-row-item">
          <span>Winchester, SO22 4ES, UK</span>
        </div>
        <div class="spacer"></div>
        <div class="footer-row-item">
          <span>+44 7599 413 676</span>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="spacer"></div>
      <div class="footer-bottom">
        <div class="footer-row-item">
          <span>Made In Angular</span>
        </div>
      </div>
      <div class="spacer"></div>
    </div>
  
  </div>
<router-outlet></router-outlet>