@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto+Slab:wght@200&display=swap');

$primary: black;
$secondary: white;
// $tertiary: #002060;
$tertiary: #00eef6;

$primary-80: lighten($primary, 20%);
$primary-60: lighten($primary, 40%);
$primary-40: lighten($primary, 60%);
$primary-20: lighten($primary, 80%);

$tertiary-80: lighten($tertiary, 20%);
$tertiary-60: lighten($tertiary, 40%);
$tertiary-40: lighten($tertiary, 60%);
$tertiary-20: lighten($tertiary, 80%);

$font-size-1: 4em;
$font-size-2: 2em;
$font-size-3: 1.5em;
$font-size-4: 1em;

$font-family-3: 'Open Sans', sans-serif;
$font-family-2: 'Montserrat', sans-serif;
$font-family-1: 'Roboto Slab', serif;

// $font-family-1: 'Inter', sans-serif;
// font-family: 'Cinzel', serif;