<div class="cv">
    <div class="block1 summary-block">
        <div class="inner-block summary-inner-block">
            <div class="summary__container">
                <div appReveal class="summary">
                    <div class="summary__text">
                        <div class="summary__name">
                            {{ profileHeader }}
                        </div>
                        <p class="summary__profession">
                            {{ profileBodyHeader }}
                        </p>
                    </div>

                    <!-- <h1 appReveal class="title"><i class="title-icon fa-solid fa-flask"></i>Summary.</h1>

                    <p class="summary__body">
                        {{ profileBody }}
                    </p>
        
                    <ul class="summary__description">
                        <li class="summary__description-item">Reducing app load times using Lazy Loading, Preloading, Caching APIs and Pipes.</li>
                        <li class="summary__description-item">Handling APIs and asynchronous events using RXJS, HTTP Interceptors and Services.</li>
                        <li class="summary__description-item">Implemented website rebranding and created reusable styles using SASS Placeholders.</li>
                        <li class="summary__description-item">Building responsive, mobile first, and printable designs using JSPDF and BEM methodology.</li>
                        <li class="summary__description-item">Creating reactive forms and handling user inputs with Angular Material.</li>
                        <li class="summary__description-item">Writing unit tests in Jasmine and Jest and setting up a reusable Testbed with mocks.</li>
                        <li class="summary__description-item">Handling large amounts of data in AG Grid tables using custom components.</li>
                    </ul> -->
                </div>
            </div> 


            <!-- <h1 appReveal class="title title-alt">Summary.</h1> -->

            <!-- <app-card class="reveal summary"> -->
            <!-- </app-card> -->
            <!-- <h1 appReveal class="title title-alt">.....</h1> -->
        </div>
    </div>


    <div class="block1">
        <div class="inner-block">
            <h1 appReveal class="title">Summary.</h1>

            <p class="summary__body">
                {{ profileBody }}
            </p>

            <ul class="summary__description">
                <li class="summary__description-item">Led the rebranding of multiple websites, significantly improving user engagement through innovative design solutions and optimized visual appeal.</li>
                <li class="summary__description-item">Boosted application performance and user experience by implementing Lazy Loading, Preloading, and API Caching techniques, resulting in faster load times.</li>
                <li class="summary__description-item">Enhanced code quality and maintainability by establishing reusable styles and layouts using SASS and BEM methodology, along with creating comprehensive unit tests.</li>
                <li class="summary__description-item">Improved data-driven decision-making by developing dynamic visualizations and managing large datasets with AG Grid and OpenLayers.</li>
                <li class="summary__description-item">Authored programming articles for a publication, created a Udemy course on testing Angular apps, and built an NPM package for testing code coverage, highlighting strong communication and technical skills.</li>
                <li class="summary__description-item">Architected and designed my own applications, including a Wear OS watch app, a React Native finance app, and browser extensions, showcasing expertise in mobile development and cross-platform solutions.</li>
            </ul>
            <h1 appReveal class="title">.....</h1>
        </div>
    </div>

    <!-- <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
            <img
                alt="{{slide.title}}"
                class="d-block w-100"
                loading="lazy"
                src="{{slide.src}}"
            />
            <c-carousel-caption class="d-none d-md-block">
                <h3>{{slide.title}}</h3>
                <p>{{slide.subtitle}}</p>
            </c-carousel-caption>
            </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
        <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel> -->

    <div class="block2">
        <div class="inner-block">
            <h1 appReveal class="title"><i class="title-icon fa-solid fa-flask"></i>Skills.</h1>
            <app-skills appReveal [skillsInput]="skills"></app-skills>
            <h1 appReveal class="title">.....</h1>
        </div>
    </div>

    <div class="block3">
        <div class="inner-block">
            <h1 appReveal class="title"><i class="title-icon fa-solid fa-briefcase"></i>Work Experience.</h1>
            <app-work-experience appReveal [workExperienceInput]="workExperience" *ngFor="let workExperience of workExperiences"></app-work-experience>
            <h1 appReveal class="title">.....</h1>
        </div>
    </div>

    <div class="block4">
        <div class="inner-block">
            <h1 appReveal class="title title-alt"><i class="title-icon fa-solid fa-user-graduate"></i>Education.</h1>
            <app-education appReveal [educationInput]="education" *ngFor="let education of educations"></app-education>
            <h1 appReveal class="title title-alt">.....</h1>
        </div>
    </div>

    <div class="block5">
        <div class="inner-block">
            <h1 appReveal class="title title-alt"><i class="title-icon fa-solid fa-award"></i>Awards.</h1>
            <app-award appReveal [awardInput]="award" *ngFor="let award of awards"></app-award>
            <h1 appReveal class="title title-alt">.....</h1>
        </div>
    </div>

    <div class="block2">
        <div class="inner-block">
            <h1 appReveal class="title"><i class="title-icon fa-solid fa-certificate"></i>Certificates.</h1>
            <div class="certificate__grid">
                <app-certificate class="certficate__item .col-lg-3" appReveal [certificateInput]="certificate" *ngFor="let certificate of certificates"></app-certificate>
            </div>
            <h1 appReveal class="title">.....</h1>
        </div>
    </div>
</div>

<!-- Animate text moving in -->



