@import '../../theme.scss';
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../../../styles.scss';

.cv {
    // margin-top: 100px;
}

.summary {
    background-color: $color1;
    border-radius: 400px;
    padding: 50px 200px;
    display: flex;
    flex-direction: row;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        // text-transform: uppercase;
        padding: 0px 50px;
        font-family: $font-family-3;
        font-weight: bold;
        font-size: $font-size-4;
        line-height: 4rem;
    }

    &__description {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 100px;
        row-gap: 50px;
        padding-top: 150px;
    }

    &__description-item {
        color: $color1;
    }
}

.certificate__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

.certificate__item {
    // @extend .col-lg-3;
    // @extend .col-md-2;
}

.title {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0px;
    margin: 0px;
}

.title-alt {
    color: $color1;
}

.title-icon {
    padding-right: 50px;
}

.education-icon {
    // @extend .fa-solid;
    // @extend .fa-user-graduate;
}