@import '../../theme.scss';

.cv {
    margin-top: 100px;
}

.summary {
    background-color: $color1;
    border-radius: 4px;
}

.certificate__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}