@import '../../theme.scss';

.service-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;

  &__service {
    display: flex;
  }
}