





      <div class="profile-container">
    
        <div appReveal class="profile">
          <div class="profile-text">
            <div class="profile-header">
              NEIL SMITH
            </div>
            <div class="profile-body">
              SOFTWARE DEVELOPER
            </div>
            <!-- <div class="profile-body">
              I’M A WEB DEVELOPER BASED IN WINCHESTER UK. I LOVE FILMS, MUSIC, CATS AND PLAYING VIDEO GAMES.
            </div> -->
          </div>
        </div>
      </div> 


    <!-- <div class="section5">
      <div class="section5-left">

      </div>
      <div class="section5-right">

      </div>
    </div> -->

    <!-- <div class="section6">
      <div class="section6-left">

      </div>
      <div class="section6-right">

      </div>
    </div> -->
  
    <!-- Links -->
    
    <!-- <div class="section4">
      <div class="fixed-spacer"></div>

      <div class="profile-container">
        <div class="profile">
          <div class="profile-text">
            <div class="profile-header">
              Get In Touch!
            </div>
            <div class="profile-body">
              Got a project you would like me to work on? Or how about just a friendly chat? Send a quick email and get in touch!
            </div>
          </div>
        </div>
      </div>
  
      <div class="fixed-spacer"></div>
    </div> -->

    <!-- <div class="section7">
      <div class="section7-left">
        
      </div>
      <div class="section7-right">

      </div>
    </div> -->