
<div class="section2">
  <div class="fixed-spacer"></div>

  <div class="card-container">
    <div class="card-row">
      <a class="card" target="_blank" rel="noopener">
        <div class="card-overlay">
          <div class="card-bottom-header">
              PERFORMANCE
          </div>
          <div class="card-bottom-body">
              <ul class="a">
                  <li>Change Detection.</li>
                  <li>Angular Zones.</li>
                  <li>Lazy Loading.</li>
                  <li>Preloading.</li>
                  <li>Resolver Services.</li>
                  <li>Pure Pipes.</li>
                  <li>Memoized Functions.</li>
                  <li>Caching API Responses.</li>
              </ul>
          </div>
        </div>
      </a>
      <a class="card" target="_blank" rel="noopener">
        <div class="card-overlay">
          <div class="card-bottom-header">
              ROBUSTNESS
          </div>
          <div class="card-bottom-body">
              <ul class="a">
                  <li>Unit Testing.</li>
                  <li>Data Modelling.</li>
                  <li>Automated Tests.</li>
              </ul>
          </div>
        </div>
      </a>
      <a class="card" target="_blank" rel="noopener">
        <div class="card-overlay">
          <div class="card-bottom-header">
              DESIGN
          </div>
          <div class="card-bottom-body">
              <ul class="a">
                  <li>Responsive Layout.</li>
                  <li>CSS Variables.</li>
                  <li>Tenant Themes.</li>
              </ul>
          </div>
        </div>
      </a>
    </div>
    <div class="card-row">
      <a class="card" target="_blank" rel="noopener">
        <div class="card-overlay">
          <div class="card-bottom-header">
              RESILIENCE
          </div>
          <div class="card-bottom-body">
              <ul class="a">
                  <li>Caching Pipeline Dependencies.</li>
              </ul>
          </div>
        </div>
      </a>
      <a class="card" target="_blank" rel="noopener" href="http://live.xbox.com/Profile?Gamertag=s3nt1n3lz13">
        <div class="card-overlay">
          <div class="card-bottom-header">
              SECURITY
          </div>
          <div class="card-bottom-body">
            <ul class="a">
                <li>Routing Auth Guard.</li>
                <li>User Roles.</li>
                <li>Restricting Page Access.</li>
            </ul>
          </div>
        </div>
      </a>
      <a class="card" target="_blank" rel="noopener" href="http://live.xbox.com/Profile?Gamertag=s3nt1n3lz13">
        <div class="card-overlay">
          <div class="card-bottom-header">
              ACCESSIBILITY
          </div>
          <div class="card-bottom-body">
            <ul class="a">
                <!-- <li>Routing Auth Guard.</li> -->
            </ul>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>