@import "../../theme.scss";

.bar-graph {

}

$bar-max-width: 70%;

.row {
    display: flex;
    flex-direction: row;
    padding: 5px 0px;
}

.name {
    animation: fade-in-text 2.2s 0.1s forwards;
    opacity: 0;
    color: white;
    font-size: $font-size-3;
    font-weight: bold;
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bar-container {
    flex: 8;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bar {
    text-align: end;
    border-radius: 3px;
    height: 55px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 0%;
    background-color: #64b2d1;
    // animation: show-row 1.2s 0.1s forwards;
}

.bar-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: $font-size-3;
    font-weight: bold;
    margin-left: 0.8rem;
}



/* Bar Graph Horizontal Animations */
@keyframes bar0 {
    0% {
        width: 0;
    }
    100% {
        width: calc(0/4 * #{$bar-max-width});
    }
}

@keyframes bar1 {
    0% {
        width: 0;
    }
    100% {
        width: calc(0.25/4 * #{$bar-max-width});
    }
}

@keyframes bar2 {
    0% {
        width: 0;
    }
    100% {
        width: calc(0.5/4 * #{$bar-max-width});
    }
}

@keyframes bar3 {
    0% {
        width: 0;
    }
    100% {
        width: calc(0.75/4 * #{$bar-max-width});
    }
}

@keyframes bar4 {
    0% {
        width: 0;
    }
    100% {
        width: calc(1/4 * #{$bar-max-width});
    }
}
@keyframes bar5 {
    0% {
        width: 0;
    }
    100% {
        width: calc(1.25/4 * #{$bar-max-width});
    }
}

@keyframes bar6 {
    0% {
        width: 0;
    }
    100% {
        width: calc(1.5/4 * #{$bar-max-width});
    }
}

@keyframes bar7 {
    0% {
        width: 0;
    }
    100% {
        width: calc(1.75/4 * #{$bar-max-width});
    }
}

@keyframes bar8 {
    0% {
        width: 0;
    }
    100% {
        width: calc(2/4 * #{$bar-max-width});
    }
}

@keyframes bar9 {
    0% {
        width: 0;
    }
    100% {
        width: calc(2.25/4 * #{$bar-max-width});
    }
}

@keyframes bar10 {
    0% {
        width: 0;
    }
    100% {
        width: calc(2.5/4 * #{$bar-max-width});
    }
}

@keyframes bar11 {
    0% {
        width: 0;
    }
    100% {
        width: calc(2.75/4 * #{$bar-max-width});
    }
}

@keyframes bar12 {
    0% {
        width: 0;
    }
    100% {
        width: calc(3/4 * #{$bar-max-width});
    }
}

@keyframes bar13 {
    0% {
        width: 0;
    }
    100% {
        width: calc(3.25/4 * #{$bar-max-width});
    }
}

@keyframes bar14 {
    0% {
        width: 0;
    }
    100% {
        width: calc(3.5/4 * #{$bar-max-width});
    }
}

@keyframes bar15 {
    0% {
        width: 0;
    }
    100% {
        width: calc(3.75/4 * #{$bar-max-width});
    }
}

@keyframes bar16 {
    0% {
        width: 0;
    }
    100% {
        width: calc(4/4 * #{$bar-max-width});
    }
}

@keyframes bar17 {
    0% {
        width: 0;
    }
    100% {
        width: calc(4.25/4 * #{$bar-max-width});
    }
}

@keyframes bar18 {
    0% {
        width: 0;
    }
    100% {
        width: calc(4.5/4 * #{$bar-max-width});
    }
}

@keyframes bar19 {
    0% {
        width: 0;
    }
    100% {
        width: calc(4.75/4 * #{$bar-max-width});
    }
}

// .bar0 {
//     animation: bar0 1.2s 0.1s forwards !important;
// }

// .bar1 {
//     animation: bar1 1.2s 0.1s forwards !important;
// }

// .bar2 {
//     animation: bar2 1.2s 0.1s forwards !important;
// }

// .bar3 {
//     animation: bar3 1.2s 0.1s forwards !important;
// }

// .bar4 {
//     animation: bar4 1.2s 0.1s forwards !important;
// }

// .bar5 {
//     animation: bar5 1.2s 0.1s forwards !important;
// }

// .bar6 {
//     animation: bar6 1.2s 0.1s forwards !important;
// }

// .bar7 {
//     animation: bar7 1.2s 0.1s forwards !important;
// }

// .bar8 {
//     animation: bar8 1.2s 0.1s forwards !important;
// }

// .bar9 {
//     animation: bar9 1.2s 0.1s forwards !important;
// }

// .bar10 {
//     animation: bar10 1.2s 0.1s forwards !important;
// }

// .bar11 {
//     animation: bar11 1.2s 0.1s forwards !important;
// }

// .bar12 {
//     animation: bar12 1.2s 0.1s forwards !important;
// }

// .bar13 {
//     animation: bar13 1.2s 0.1s forwards !important;
// }

// .bar14 {
//     animation: bar14 1.2s 0.1s forwards;
// }

// .bar15 {
//     animation: bar15 1.2s 0.1s forwards;
// }

// .bar16 {
//     animation: bar16 1.2s 0.1s forwards;
// }

@keyframes show-row {
    0% {
        width: 0;
    }
    100% {
        width: 69.6%;
    }
}

@keyframes fade-in-text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}