/* You can add global styles to this file, and also import other style files */

@import '../src/app/theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.block {
    padding: 100px 250px;
    min-height: 500px;
}

.block1 {
    @extend .block;
    background-color: $color1;   
}

.block2 {
    @extend .block;
    background-color: $color2;   
}

.block3 {
    @extend .block;
    background-color: $color3;   
}

.block4 {
    @extend .block;
    background-color: $color4;   
}

.block5 {
    @extend .block;
    background-color: $color5;   
}

app-work-experience {
    display: block;
    margin-bottom: 100px;
}

app-education {
    display: block;
    margin-bottom: 100px;
}

app-award {
    display: block;
    margin-bottom: 100px;
}

app-certificate {
    display: block;
    margin-bottom: 100px;
}