/* You can add global styles to this file, and also import other style files */

@import '../src/app/theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.block {
    padding: 100px 150px;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.inner-block {
    width: 100%;
    max-width: 1500px;
}

.block1 {
    @extend .block;
    background-color: $color2;   
}

.block2 {
    @extend .block;
    background-color: $color3;   
}

.block3 {
    @extend .block;
    background-color: $color4;   
}

.block4 {
    @extend .block;
    background-color: $color5;   
}

.block5 {
    @extend .block;
    background-color: $color2;   
}

app-work-experience {
    display: block;
    margin: 50px 0px;
}

app-education {
    display: block;
    margin: 50px 0px;
}

app-award {
    display: block;
    margin: 50px 0px;
}

app-certificate {
    display: block;
    margin: 50px 0px;
}

app-card {
    display: block;
}

app-skills {
    display: block;
}